.product-display {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card1 {
  max-width: 300px;
  width: 20%;
  margin: 10px;
  padding: 15px;
  text-align: center;
  border: solid #75a2dc;
  background-color: white;
}

.description {
  max-height: 5em;
  /* white-space: nowrap; */
  overflow: hidden;
}

@media (max-width: 750px) {
  .card {
    width: 50%;
  }
}

.btn2 {
  margin: 2px;
  border-radius: 1.5;
  background-color: #75a2dc;
  color: white;
}

.single-product {
  margin: 5px;
  padding: 4px;
  border: solid #75a2dc;
  border-radius: 0.2;
}

.search {
  display: flex;
  justify-content: center;
}
