.img {
  display: flex;
  justify-content: center;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.btn3 {
  border-radius: 1.5;
  background-color: #75a2dc;
  color: white;
}

h1 {
  color: black;
}
