* {
  box-sizing: "border-box";
}

body {
  margin: 0;
}

.nav {
  background-color: #75a2dc;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 1.5rem;
}

.nav ul {
  padding: 0.5rem;
  margin: 1rem;
  list-style: none;
  display: flex;

  gap: 1.5rem;
}
.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0;
}
.nav li:hover {
  background-color: none;
}

.nav li.active {
  background-color: #555;
}
